@import '../../variables';

.numb {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: 'HelveticaRegular';
  color: $mainBlue;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 21px;
  letter-spacing: 2px;
  color: $mainBlue;
}
