@import '../../../../../variables';

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    flex-direction: column;
    // background-color: yellow;
    margin: 0 8px;
    @media (min-width: 540px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0 30px;
      padding: 8px 0;
    }
    .filter {
      margin: 8px;
    }
    .buttonGroup {
      display: flex;
      justify-content: space-between;
      @media (min-width: 540px) {
      }
      @media (min-width: 768px) {
        display: flex;
      }
      button {
        width: 95px;
        height: 30px;
        border: 0.5px solid #becad6;
        box-sizing: border-box;
        border-radius: 4px;
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        letter-spacing: -0.345714px;
        color: #ffffff;
      }
    }
    .reset {
      background: $red;
      margin: 0 0 0 8px;
      @media (min-width: 540px) {
        margin: 0 8px 0 0;
      }
      @media (min-width: 768px) {
        margin: 0 15px 0 0;
      }
    }
    .apply {
      background: $mainAccent;
      margin: 0 8px 0 0;
      @media (min-width: 540px) {
        margin: 0 0 0 0px;
      }
    }
  }

  .main {
    flex: 1 1 auto;

    table {
      padding: 4px;
      table-layout: fixed;
      height: 100%;
      width: 100%;
      tr {
        display: flex;
        align-items: center;
        margin: 8px 0;

        th {
          font-family: Helvetica;
          font-style: normal;
          font-weight: bold;
          font-size: 10px;
          line-height: 12px;
          letter-spacing: -0.377143px;
          color: #3d5170;
          width: 54px;
          height: 100%;
          @media (min-width: 375px) {
            width: 100%;
            height: 100%;
          }
          @media (min-width: 768px) {
            font-size: 12px;
            line-height: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          @media (min-width: 1024px) {
            width: 150px;
            height: 32px;
          }
        }
      }
      td {
        letter-spacing: -0.377143px;
        font-style: normal;
        font-size: 10px;
        line-height: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
        height: 100%;
        margin: 8px 0;
        @media (min-width: 375px) {
          width: 100%;
        }
        @media (min-width: 768px) {
          font-size: 12px;
          line-height: 14px;
          margin: 8px 0;
        }
        @media (min-width: 1024px) {
          width: 150px;
        }
        &.title {
          font-family: Helvetica;
          font-weight: normal;
          color: #3d5170;
          display: flex;
          justify-content: center;
        }
        &.col {
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          text-align: right;
          color: #818ea3;
          .photo {
            width: 150px;
            // width: 50px;
            object-fit: contain;
            overflow: hidden;
          }
        }
      }

      tr:hover {
        background: gray;
        cursor: pointer;
      }
    }
  }
}

.warning {
  position: relative;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #3d5170;
  font-size: 24px;
  display: flex;
  justify-content: center;
}
