@import '../../../../variables';
.title {
  margin: 16px 0px 16px 8px;
  justify-content: center;
  @media (min-width: 768px) {
    margin: 16px;
    flex: 0 1 auto;
  }

  h2 {
    font-size: 29px;
    line-height: 33px;
    letter-spacing: -0.725px;
    color: #3d5170;
  }
}
.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: $backgroundAdmin;
  justify-content: space-evenly;
  @media (min-width: 768px) {
    flex-wrap: nowrap;
    justify-content: normal;
  }
  @media (min-width: 1440px) {
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 28px;
  }
}
