@import '../../../../variables';
.title {
  margin: 27px 0 30px 27px;
  justify-content: center;
  @media (min-width: 768px) {
    flex: 0 1 auto;
  }

  h2 {
    font-size: 29px;
    line-height: 33px;
    letter-spacing: -0.725px;
    color: #3d5170;
  }
}
.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: $backgroundAdmin;
  margin: 0;
  @media (min-width: 768px) {
    justify-content: center;
    flex-wrap: nowrap;
    margin: 7px;
  }
}
