@import '../../../../../_variables';

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  // background-color: rgb(242, 151, 114);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.408571px;
  color: #889098;
  @media (min-width: 768px) {
    margin: 0 24px;
  }
  .header {
    display: flex;
    padding: 14px 8px;
    flex-direction: row;
    justify-content: space-between;

    .buttonContainer {
      // background-color: rgb(163, 240, 156);
      display: flex;
      justify-content: flex-end;
      @media (min-width: 1024px) {
        margin: 0 30px 0 0;
      }
      button {
        width: 95px;
        height: 30px;
        border: 0.5px solid #becad6;
        box-sizing: border-box;
        border-radius: 4px;
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        letter-spacing: -0.345714px;
        color: #ffffff;
      }

      .apply {
        background: $mainAccent;
        margin: 0 8px 0 8px;
        @media (min-width: 540px) {
          margin: 0 0 0 0px;
        }
      }
    }
  }

  .main {
    // background-color: rgb(22, 176, 196);
    display: flex;
    flex-direction: column;
    @media (min-width: 1024px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    @media (min-width: 1998px) {
      flex-direction: column;
    }
  }
}
