@import '../../../../../variables';
.settings {
  width: 100%;
  font-family: 'HelveticaRegular';
  display: flex;
  background: $white;
  margin: 8px 8px 0 0;
  flex-direction: column;
  border-radius: 9px;
  box-shadow: 0px 2px 4px rgba(90, 97, 105, 0.12);
  @media (min-width: 1024px) {
    flex: 0 1 50%;
    padding: 0 0 14px 0;
    margin: 0 8px 0 0;
  }
  @media (min-width: 1300px) {
    flex: 0 1 60%;
    padding: 16px;
    margin: 0;
  }
  @media (min-width: 1440px) {
    margin: 0 0 0 28px;
  }
  @media (min-width: 1600px) {
    max-width: 700px;
  }

  .header {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17.5px;
    line-height: 21px;
    letter-spacing: -0.4375px;
    color: #3d5170;
    padding: 12px 20px;
    @media (min-width: 1024px) {
      padding: 14px 20px;
    }
  }

  .form {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 100%;
    .inputs {
      width: 100%;
      @media (min-width: 600px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      @media (min-width: 768px) {
        width: 100%;
        height: max-content;
      }

      .input {
        flex: 1 1 100%;

        display: flex;
        flex-direction: column;
        height: 70px;
        @media (min-width: 600px) {
          flex: none;

          width: 40%;
        }
        @media (min-width: 768px) {
          width: 48%;
        }
        @media (min-width: 1024px) {
          flex: 1 1 100%;
        }
        @media (min-width: 1300px) {
          flex: none;
          width: 48%;
          max-width: 400px;
        }
        .label {
          font-size: 10.5px;
          line-height: 12px;
          letter-spacing: -0.18421px;
          color: $black;
        }
        select:required:invalid {
          color: gray;
        }
        .field {
          padding: 0.5rem;
          display: block;
          border-radius: 4px;
          border: 1px solid #ccc;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 11px;
          line-height: 13px;
          letter-spacing: -0.175439px;
        }

        .field:focus {
          border-color: #007eff;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
            0 0 0 3px rgba(0, 126, 255, 0.1);
          outline: none;
        }

        .fieldDescription {
          padding: 0.5rem;
          resize: none;

          border-radius: 4px;
          border: 1px solid #ccc;
          font-size: 11px;
          line-height: 13px;
          letter-spacing: -0.175439px;
        }

        .inputError {
          border-color: $red;
          box-shadow: 0px 2.5px 5.5px rgba(196, 24, 60, 0.1);
        }
        .inputFeedback {
          font-family: Helvetica;
          padding: 2px 0 0px 9px;
          font-size: 10px;
          line-height: 11px;
          letter-spacing: -0.175439px;
          color: $red;
        }
      }
    }
  }

  .colorField {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .addColorBtn {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: $white;
    margin: 0 0 0 8px;
    border: 1px solid #becad6;
    box-sizing: border-box;
    border-radius: 4px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      span {
        font-size: 22px;
        color: #becad6;
        padding: 0px 0 6px 0;
      }
    }
  }
}

.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 16px 0;
  @media (min-width: 1024px) {
    margin: 0;
  }
  button {
    width: 110px;
    height: 30px;
    border-radius: 4px;
  }

  .buttonSubmit {
    background: $mainAccent;
    border: 0.5px solid $mainAccent;
    color: white;
  }
  .buttonReset {
    border: 0.5px solid #e9ecef;
    background: #e9ecef;
    color: #3d5170;
  }
  .buttonDelete {
    border: 0.5px solid #cb3656;
    background: #cb3656;
    color: white;
  }
  .buttonsCreate {
    display: flex;
    width: 234px;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 14px 0;
  }
  .deleteBtn {
    display: flex;
  }
}

.colorsForm {
  width: 100%;

  @media (min-width: 600px) {
    width: 40%;
  }
  @media (min-width: 768px) {
    width: 48%;
  }
  @media (min-width: 1024px) {
    width: 100%;
  }
  @media (min-width: 1300px) {
    flex: none;
    width: 48%;
    max-width: 400px;
  }
}
.colorsFormField {
  display: flex;
  flex: 1 1 100%;
}

.checkboxes {
}
.checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  margin: 8px 0 0 0;
}
.checkboxLabel {
  margin: 0 0 0 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  letter-spacing: -0.175439px;
  color: #495057;
}
select {
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 4px;
  height: auto;
  border: 1px solid #ccc;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.175439px;
}
.inputColors {
  width: 100%;
  display: inline-table;
  margin: 0 0 16px 0;
  height: 70px;
  @media (min-width: 600px) {
    flex: none;
  }
  @media (min-width: 768px) {
    flex: none;
  }
  @media (min-width: 1024px) {
    flex: 1 1 100%;
  }
  .label {
    font-size: 10.5px;
    line-height: 12px;
    letter-spacing: -0.18421px;
    color: $black;
  }
  select:required:invalid {
    color: gray;
  }
  .field {
    padding: 0.5rem;
    display: block;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.175439px;
  }
}
