@import '../../../../../variables';
@import '../../../../../mixins';

.settings {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'HelveticaRegular';
  background: $white;
  margin: 8px 8px 0 0;
  border-radius: 9px;
  box-shadow: 0px 2px 4px rgba(90, 97, 105, 0.12);
  @media (min-width: 1024px) {
    flex: 0 1 50%;
    padding: 0 0 14px 0;
    margin: 0 8px 0 0;
  }
  @media (min-width: 1300px) {
    flex: 0 1 60%;
    padding: 16px;
    margin: 0;
  }
  @media (min-width: 1440px) {
    margin: 0 0 0 28px;
  }
  @media (min-width: 1600px) {
    max-width: 700px;
  }

  .header {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17.5px;
    line-height: 21px;
    letter-spacing: -0.4375px;
    color: $darkBlue;
    padding: 12px 20px;
    @media (min-width: 1024px) {
      padding: 14px 20px;
    }
  }

  .form {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    align-content: space-between;
    .inputs {
      width: 100%;
      @media (min-width: 600px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      @media (min-width: 768px) {
        width: 100%;
        height: max-content;
      }

      .input {
        height: 70px;
        display: flex;
        flex: 1 1 100%;
        flex-direction: column;
        @media (min-width: 600px) {
          flex: none;
          width: 40%;
        }
        @media (min-width: 768px) {
          width: 48%;
        }
        @media (min-width: 1024px) {
          flex: 1 1 100%;
        }
        @media (min-width: 1300px) {
          flex: none;
          width: 48%;
          max-width: 400px;
        }
        .label {
          color: $black;
          font-size: 10.5px;
          line-height: 12px;
          letter-spacing: -0.18421px;
        }
        select:required:invalid {
          color: $gray;
        }
        .field {
          padding: 0.5rem;
          display: block;
          @include Roboto-500;
          font-size: 11px;
          line-height: 13px;
          letter-spacing: -0.175439px;
          border-radius: 4px;
          border: 1px solid $grayLight4;
        }

        .field:focus {
          border-color: $mainBlue;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
            0 0 0 3px rgba(0, 126, 255, 0.1);
          outline: none;
        }

        .fieldDescription {
          padding: 0.5rem;
          resize: none;

          border-radius: 4px;
          border: 1px solid $grayLight4;
          font-size: 11px;
          line-height: 13px;
          letter-spacing: -0.175439px;
        }

        .inputError {
          border-color: $red;
          box-shadow: 0px 2.5px 5.5px rgba(196, 24, 60, 0.1);
        }
        .inputFeedback {
          color: $red;
          font-family: Helvetica;
          padding: 2px 0 0px 9px;
          font-size: 10px;
          line-height: 11px;
          letter-spacing: -0.175439px;
        }
      }
    }
  }

  .colorField {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .addColorBtn {
    display: flex;
    width: 30px;
    height: 30px;
    margin: 0 0 0 8px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: $white;
    border: 1px solid $grayLight;
    div {
      @include df-center;
      height: 30px;
      width: 30px;
      span {
        font-size: 22px;
        color: $grayLight;
        padding: 0px 0 6px 0;
      }
    }
  }
}

.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 16px 0;
  @media (min-width: 1024px) {
    margin: 0;
  }
  button {
    @include Helvetica-normal;
    width: 110px;
    height: 30px;
    font-size: 11.5px;
    line-height: 13px;
    text-align: center;
    border-radius: 4px;
    letter-spacing: -0.0821429px;
  }

  .buttonSubmit {
    color: $white;
    background: $mainBlue;
    border: 0.5px solid $mainBlue;
  }
  .buttonReset {
    color: $darkBlue;
    background: $grayLight3;
    border: 0.5px solid $grayLight3;
  }
  .buttonDelete {
    color: $white;
    background: $alertErr;
    border: 0.5px solid $alertErr;
  }
  .buttonsCreate {
    display: flex;
    width: 234px;
    margin: 0 0 14px 0;
    align-items: center;
    justify-content: space-between;
  }
  .deleteBtn {
    display: flex;
  }
}

.colorsForm {
  width: 100%;

  @media (min-width: 600px) {
    width: 40%;
  }
  @media (min-width: 768px) {
    width: 48%;
  }
  @media (min-width: 1024px) {
    width: 100%;
  }
  @media (min-width: 1300px) {
    flex: none;
    width: 48%;
    max-width: 400px;
  }
}
.colorsFormField {
  display: flex;
  flex: 1 1 100%;
  .inputFeedback {
    color: $red;
    font-family: Helvetica;
    padding: 2px 0 0px 9px;
    font-size: 10px;
    line-height: 11px;
    letter-spacing: -0.175439px;
  }
}

.checkbox {
  @include df-ai-center;
  margin: 8px 0 0 0;
  justify-content: flex-end;
  flex-direction: row-reverse;
}
.checkboxLabel {
  @include df-ai-center;
  @include Roboto-500;
  margin: 0 0 0 8px;
  color: $gray6;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.175439px;
}
select {
  @include Roboto-500;
  box-sizing: border-box;
  height: auto;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid $grayLight4;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.175439px;
}

.inputColors {
  width: 100%;
  display: inline-table;
  margin: 0 0 16px 0;
  height: 70px;
  @media (min-width: 600px) {
    flex: none;
  }
  @media (min-width: 768px) {
    flex: none;
  }
  @media (min-width: 1024px) {
    flex: 1 1 100%;
  }
  .label {
    font-size: 10.5px;
    line-height: 12px;
    letter-spacing: -0.18421px;
    color: $black;
  }
  select:required:invalid {
    color: $gray;
  }
  .field {
    @include Roboto-500;
    display: block;
    padding: 0.5rem;
    font-size: 11px;
    line-height: 13px;
    border-radius: 4px;
    letter-spacing: -0.175439px;
    border: 1px solid $grayLight4;
    option:not(:checked) {
      background-color: $mainBlue;
    }
  }
}
