@import '../../../../../../variables';

.checkbox {
  display: flex;
  margin: 0 0 8px 0;
  align-items: flex-start;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;

  @media (min-width: 768px) {
    margin: 8px 0 0 0;
  }
  &.checked {
    color: black;
  }
  // .checked {
  //   color: black;
  // }
}
.checkBtn {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:checked ~ .customCheckbox {
    border: 0.5px solid #0ec261;
    content: ' ';
    background-image: url(../../../../../../assets/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: #0ec261;
    padding: 0 0;
  }
}

.customCheckbox {
  margin: 0 4px 0 0;
  border: 1px solid #becad6;
  height: 12px;
  width: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
