@import '../../../../../variables';
@import '../../../../../mixins';
.wrapper {
  width: 100%;
  margin: 0 8px 0 0;
  background: $white;
  border-radius: 9px;
  box-shadow: 0px 2px 4px rgba(90, 97, 105, 0.12);
  @media (min-width: 1024px) {
    margin: 0;
    padding: 0;
    height: 512px;
    flex: 0 0 335px;
    align-items: center;
    flex-direction: column;
  }
  img {
    width: 244px;
    height: 110px;
    margin: 18px 0 0 0;
    object-fit: contain;
    @media (min-width: 1024px) {
      margin: 18px 0px 10px 0px;
    }
    @media (min-width: 1440px) {
      margin: 45px 45px 10px 45px;
    }
  }

  .name {
    margin: 4px 0;
    color: $darkBlue;
    font-size: 16.5px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.6125px;
  }
  @media (min-width: 768px) {
    font-size: 24.5px;
    line-height: 28px;
  }
  .type {
    color: $gray4;
    margin: 0 0 10px 0;
    font-size: 12.5px;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.3125px;
  }

  input {
    display: none;
  }

  .description {
    width: 100%;
    .title {
      @include Roboto-500;
      color: $gray3;
      font-size: 13px;
      line-height: 15px;
      margin: 8px 0 14px 21px;
      letter-spacing: -0.408571px;
      @media (min-width: 768px) {
        margin: 22px 0 14px 21px;
      }
    }
    .text {
      @include Roboto-500;
      color: $darkBlue2;
      font-size: 13.5px;
      line-height: 19px;
      margin: 0px 0 14px 21px;
      letter-spacing: -0.408571px;
    }
  }
}

.file {
  width: 232px;
  height: 30px;
  position: relative;
  @media (min-width: 768px) {
    margin: 0 0 24px 0;
  }
}
.input {
  position: relative;
  z-index: 2;
  margin: 0;
  opacity: 0;
  width: 100%;
  height: var(--bs-form-file-height);
}

.label {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  border-radius: 0.25rem;
  border-color: $grayLight2;
  height: var(--bs-form-file-height);
}

.textt {
  font-family: 'Roboto', sans-serif;
  display: block;
  flex-grow: 1;
  padding: 0.375rem 0.75rem;
  overflow: hidden;
  font-size: 10px;
  line-height: 12px;
  color: $gray6;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: $white;
  border-color: inherit;
  border-style: solid;
  border-width: 1px;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.button {
  font-family: 'Roboto', sans-serif;
  display: block;
  flex-shrink: 0;
  padding: 0.375rem 0.75rem;
  margin-left: -1px;
  color: $gray6;
  background-color: $grayLight3;
  border-color: inherit;
  border-style: solid;
  border-width: 1px;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  font-size: 10px;
  line-height: 12px;
}
.mobileWrapper {
  width: 100%;
  @include df-ai-center;
  flex-direction: column;
}
