$mainBlue: #007bff;
$darkBlue: #3d5170;
$darkBlue2: #5a6169;
$mainGreen: #0ec261;
$alertErr: #cb3656;
$red: #c4183c;
$black: #121212;
$gray: #999999;
$gray2: #889098;
$gray3: #868e96;
$gray4: #818ea3;
$gray5: #767f9d;
$gray6: #495057;
$lightGray: #eeeeee;
$grayLight: #becad6;
$grayLight2: #cacedb;
$grayLight3: #e9ecef;
$grayLight4: #ccc;
$grayLight5: #e1e5eb;
$grayLight6: #fbfbfb;
$white: #ffffff;
$backgroundAdmin: #f5f6f8;
$backgroundDark: #111518;
